@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fjalla+One&family=Fruktur&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

header{
    display: flex;
    justify-content:flex-start;
    align-items:center;
    gap: 30px;
    margin: 20px;
}

.back a{
    font-size: 20px;
    margin: 0;
}

.cabecera .title {
    font-size: 40px;
    font-family: 'Fjalla One', sans-serif;
    color: rgb(229, 9, 20);
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.063);
    padding: 30px 0;
    margin-right: 50px;
    margin-left: 50px;
}

form h3{
    text-shadow: 2px 2px 3px rgba(204, 0, 0, 0.768);;
}

form label h6{
    font-size: 15px;
    padding-bottom: 5px;
}

form label input{
    border-radius: 5px;
    padding: 2px;
    background-color: rgba(216, 96, 96, 0.378);
    border: 1px solid white;
    color: white;
}

form label select{
    width: 170px;
    border-radius: 5px;
    text-align: center;
    background-color: rgba(216, 96, 96, 0.378);
    color: white;
    padding: 2px;
    border: 1px solid white;
}

form label select option{
    color: black;
    background-color: rgba(181, 70, 70, 0.391);
    border: 1px solid black;
}

form button{
    font-size: 18px;
    padding: 2px 7px;
    border-radius: 7px;
    border: 1px solid rgb(146, 0, 0);
    background-color: transparent;
    color: white;
    box-shadow: 2px 2px rgba(255, 0, 0, 0.213);
}


/* Validaciones */

#validaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(40, 130, 40);
    border: 2px solid white;
    border-radius: 15px;
    margin: 1rem;
    display: none;
}

#validaciones h2{
    text-transform: uppercase;
    padding: 5px;
}

#validaciones span{
    text-transform: capitalize;
}